API_ID=900652
API_HASH=a4183efcd370bf03011df1ba8772b1c9
SESSION=1BVtsOMYBu4Xrhx__PKQS0tXqZp2alvJGqMwMZebprQmFe6BMVsv3lznNgOXoT70kD0fCM9LP1bfC2ogpWCnOzPG_seCYErOg-sJU3dJhZ4CWNhErA1QbwsOAFdBW1jGblWhgt2EAf_-mB_EBtWtFHtNHaM-iN9YXxyjSIX9sxCq5zR5-ed1myjIqSNHaXsBnceT-mh0EMyro7DPoKFH85KhyOjNZwot3UFThk8WtDIVFbLoPT9ZREvRQHUxR6NROBm0gnN7f5p5HiJ3vLFQuA1Kq4yogC9m4yBS9NlO7FduBkdHam1eYgiZh2ndIPeamL-TP9MM16nP-Av2hZR-ihZYXxYuJ_I0=
REDIS_URI=redis-13893.c264.ap-south-1-1.ec2.cloud.redislabs.com:13893
REDIS_PASSWORD=9xlnKWU9FsCdUHX31OfZRQPflW8uHXvh
MONGO_URI=mongodb://priest:lovely8249@ac-gdu4qcx-shard-00-00.iwxlvar.mongodb.net:27017,ac-gdu4qcx-shard-00-01.iwxlvar.mongodb.net:27017,ac-gdu4qcx-shard-00-02.iwxlvar.mongodb.net:27017/?ssl=true&replicaSet=atlas-bic6ti-shard-0&authSource=admin&retryWrites=true&w=majority

#Optional
LOG_CHANNEL=-1001863834305
BOT_TOKEN=6465119992:AAE7ao9T5bXsYWIkaXW_kq0WjflDqwV0oTM
